@import-normalize
@import "~bootstrap/scss/bootstrap"

.posts-list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

.post-box

    background-color: #83c3f8ad
    margin: 10px
    padding: 10px
    border-radius: 10px
    
    a
        text-decoration: none

    .post-img
        border-radius: 10px
        width: 100%
        height: auto

    .post-title
        margin-top: 10px
        text-align: center
        font-weight: bold
        color: black
        font-size: 18px

    .post-author
        margin-right: 10px
        display: block
        width: 100%
        text-align: right
        text-decoration: none

    .post-date
        font-size: 12px